.header-container {    
    display: flex;
    justify-content: space-between;    
    align-items: center;
    margin-bottom: 20px;
    margin-left: 150px;
    font-size: 15px;
    

    .signin  { 
        margin-right: 20px;       
        .pi-user {
            color: $logo;
            font-size: 25px;
            
        }
      }
    }


