.header-container {
    margin: auto;
    display: flex;
    justify-content: center;    
    align-items: center;

    .signin {    
         
            font-size: 50px;
            color: $logo;
        }
    }


