.signup-container {
  background-color: $background-color;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
}

.formLog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(248, 246, 246);
}

.formLog .Hello {
  margin-top: 0;
  color: $accent-color;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin: 10px 0;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: $accent-color;
  margin-top: 10px;
}

.password-container {
  width: 100%;
}

.button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_regin2 {
  margin-top: 10px;
  background-color: $accent-color;
  color: $basic;
}

.button_regin1 {
  margin-top: 10px;
  background-color: $accent-color;
  color: $basic;
}

label[for="username"] {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
}

.password-container {
  display: inline-block;
  width: 150px;
}
